.option-box {
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: -4px;
  -webkit-background-size: cover;
          background-size: cover;
}
.postbox-container {
  float: none;
  width: 100%;
}
.form-table h4.heading {
  margin-top: -20px;
}
.form-table .range-viewer,
.form-table .color-viewer {
  height: 27px;
  text-align: right;
}
.form-table .range-viewer + input,
.form-table .color-viewer + input {
  height: 27px;
  vertical-align: bottom;
}
.form-table .range-viewer {
  width: 40px;
  margin-right: 5px;
}
.form-table .color-viewer {
  width: 70px;
  margin-right: -1px;
}
.form-table .color-viewer + input {
  margin-left: 0;
  background-color: #eeeeee;
}
.form-table .media-image,
.form-table .media-link {
  display: block;
}
.form-table .media-image {
  max-width: 300px;
  height: auto;
}
.form-table .repeatable > p {
  margin-bottom: 15px;
  overflow: hidden;
  clear: both;
}
.form-table .repeatable .repeatable-row .repeatable-col {
  padding-right: 10px;
  padding-left: 10px;
}
.form-table .repeatable .repeatable-row .repeatable-col input,
.form-table .repeatable .repeatable-row .repeatable-col select,
.form-table .repeatable .repeatable-row .repeatable-col .select2-container {
  max-width: 150px !important;
}
.form-table .repeatable .repeatable-row .remove-repeatable-button {
  padding-left: 10px;
  float: right;
}
.form-table .repeatable .media-image,
.form-table .repeatable .media-link {
  display: none;
  margin-left: 5px;
}
@media (min-width: 1800px) {
  .form-table .repeatable .media-image,
  .form-table .repeatable .media-link {
    display: inline-block;
  }
}
.form-table .repeatable .media-image {
  max-height: 27px;
  width: auto;
  vertical-align: bottom;
}
.form-table input[type="checkbox"],
.form-table input[type="radio"] {
  margin-right: 5px;
}
.form-table .group {
  overflow: hidden;
  clear: both;
}
.form-table .checkbox,
.form-table .radio {
  float: left;
  width: 48%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media all and (min-width: 1280px) {
  .form-table .checkbox,
  .form-table .radio {
    width: 32%;
  }
}
.form-table .checkbox.box input,
.form-table .radio.box input {
  display: none;
}
.form-table .checkbox.box label,
.form-table .radio.box label {
  display: block;
  text-align: center;
  cursor: default;
}
.form-table .checkbox.box div,
.form-table .radio.box div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  border: 4px solid #e5e5e5;
  -webkit-background-size: cover;
          background-size: cover;
  cursor: pointer;
}
.form-table .checkbox.box div.checked,
.form-table .radio.box div.checked {
  border-color: #0074a2;
}
.repeatable-field-error {
  margin-left: 20px;
}
