.option-box {
  display: inline-block;
  width: 32px;
  height: 18px;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: -4px;
  -webkit-background-size: cover;
          background-size: cover;
}
.postbox-container {
  float: none;
  width: 100%;
}
.form-table h4.heading {
  margin-top: -20px;
}
.form-table .range-viewer,
.form-table .color-viewer {
  display: inline-block;
  float: left;
  margin-right: 10px;
  padding-right: 5px;
  text-align: right;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.form-table .range-viewer {
  width: 40px;
}
.form-table .color-viewer {
  width: 60px;
}
.form-table .media-image {
  max-width: 300px;
  height: auto;
}
.form-table input[type="checkbox"],
.form-table input[type="radio"] {
  margin-right: 5px;
}
.form-table .group {
  overflow: hidden;
  clear: both;
}
.form-table .checkbox,
.form-table .radio {
  float: left;
  width: 48%;
  margin-left: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media all and (min-width: 1280px) {
  .form-table .checkbox,
  .form-table .radio {
    width: 32%;
  }
}
.form-table .checkbox.box input,
.form-table .radio.box input {
  display: none;
}
.form-table .checkbox.box label,
.form-table .radio.box label {
  display: block;
  text-align: center;
  cursor: default;
}
.form-table .checkbox.box div,
.form-table .radio.box div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
  padding-bottom: 56.25%;
  border: 4px solid #e5e5e5;
  -webkit-background-size: cover;
          background-size: cover;
  cursor: pointer;
}
.form-table .checkbox.box div.checked,
.form-table .radio.box div.checked {
  border-color: #0074a2;
}
